<a href="https://colab.research.google.com/github/LishaRudani/Afghanistan_Conflict_Displacements_Prediction/blob/main/Afghanistan__Conflict_Displacements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip /content/drive/MyDrive/Teach_Foundation_of_ML/project/Regression/archive.zip

unzip:  cannot find or open /content/drive/MyDrive/Teach_Foundation_of_ML/project/Regression/archive.zip, /content/drive/MyDrive/Teach_Foundation_of_ML/project/Regression/archive.zip.zip or /content/drive/MyDrive/Teach_Foundation_of_ML/project/Regression/archive.zip.ZIP.

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/ACD_2021_Dataset/afghanistan_conflict_displacements_2021.csv')

In [ ]:
data.head()

,DISP_DATE,ORIG_PROV_CODE,ORIG_PROV_NAME,ORIG_DIST_CODE,ORIG_DIST_NAME,DISP_PROV_CODE,DISP_PROV_NAME,DISP_DIST_CODE,DISP_DIST_NAME,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
0,#date+occurred,#admin1+code+x_origin,#admin1+name+x_origin,#admin2+code+x_origin,#admin2+name+x_origin,#admin1+code+x_destination,#admin1+name+x_destination,#admin2+code+x_destination,#admin2+name+x_destination,#affected+displaced,#affected+dispalced+families,#affected+displaced+m+adults,#affected+displaced+f+adults,#affected+dispalced+children
1,01-01-21,6,Nangarhar,604,Khogyani,6,Nangarhar,601,Jalalabad,217,31,42,45,130
2,01-01-21,28,Faryab,2806,Qaysar,28,Faryab,2801,Maymana,931,133,NaN,NaN,NaN
3,01-01-21,28,Faryab,2802,Khwajasabzposh,28,Faryab,2801,Maymana,861,123,NaN,NaN,NaN
4,01-01-21,28,Faryab,2805,Almar,28,Faryab,2801,Maymana,7,1,NaN,NaN,NaN

In [ ]:
data.tail()

,DISP_DATE,ORIG_PROV_CODE,ORIG_PROV_NAME,ORIG_DIST_CODE,ORIG_DIST_NAME,DISP_PROV_CODE,DISP_PROV_NAME,DISP_DIST_CODE,DISP_DIST_NAME,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
1300,16-11-21,4,Wardak,407,Saydabad,1,Kabul,101,Kabul,490,70,NaN,NaN,NaN
1301,22-11-21,2,Kapisa,205,Tagab,2,Kapisa,201,Mahmud-e-Raqi,63,9,NaN,NaN,NaN
1302,23-11-21,2,Kapisa,204,Hisa-e-Duwum-e-Kohestan,1,Kabul,101,Kabul,483,69,NaN,NaN,NaN
1303,25-11-21,2,Kapisa,204,Hisa-e-Duwum-e-Kohestan,1,Kabul,101,Kabul,490,70,NaN,NaN,NaN
1304,30-11-21,3,Parwan,301,Charikar,1,Kabul,101,Kabul,315,45,NaN,NaN,NaN

In [ ]:
df=data.drop(labels=None, axis=0, index=0, columns=None, level=None, inplace=False)

In [ ]:
df.describe()

,DISP_DATE,ORIG_PROV_CODE,ORIG_PROV_NAME,ORIG_DIST_CODE,ORIG_DIST_NAME,DISP_PROV_CODE,DISP_PROV_NAME,DISP_DIST_CODE,DISP_DIST_NAME,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
count,62,62,62,62,62,62,62,62,62,62,62,62,62,62
unique,27,12,12,36,36,8,8,19,19,54,42,46,47,49
top,01-01-21,13,Kunar,604,Khogyani,13,Kunar,3301,Kandahar / Dand,49,1,2,2,2
freq,11,19,19,5,5,18,18,16,16,4,4,8,8,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 1 to 1004
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DISP_DATE          62 non-null     object
 1   ORIG_PROV_CODE     62 non-null     object
 2   ORIG_PROV_NAME     62 non-null     object
 3   ORIG_DIST_CODE     62 non-null     object
 4   ORIG_DIST_NAME     62 non-null     object
 5   DISP_PROV_CODE     62 non-null     object
 6   DISP_PROV_NAME     62 non-null     object
 7   DISP_DIST_CODE     62 non-null     object
 8   DISP_DIST_NAME     62 non-null     object
 9   DISP_IND           62 non-null     object
 10  DISP_FAM           62 non-null     object
 11  DISP_ADULT_MALE    62 non-null     object
 12  DISP_ADULT_FEMALE  62 non-null     object
 13  DISP_CHILDREN_U18  62 non-null     object
dtypes: object(14)
memory usage: 7.3+ KB

In [ ]:
df.isna().sum()

DISP_DATE            0
ORIG_PROV_CODE       0
ORIG_PROV_NAME       0
ORIG_DIST_CODE       0
ORIG_DIST_NAME       0
DISP_PROV_CODE       0
DISP_PROV_NAME       0
DISP_DIST_CODE       0
DISP_DIST_NAME       0
DISP_IND             0
DISP_FAM             0
DISP_ADULT_MALE      0
DISP_ADULT_FEMALE    0
DISP_CHILDREN_U18    0
dtype: int64

In [ ]:
df['ORIG_DIST_NAME'].replace('', np.nan, inplace=True)
df.dropna(subset=['ORIG_DIST_NAME'], inplace=True)
df['ORIG_DIST_CODE'].replace('', np.nan, inplace=True)
df.dropna(subset=['ORIG_DIST_CODE'], inplace=True)
df['DISP_ADULT_MALE'].replace('', np.nan, inplace=True)
df.dropna(subset=['DISP_ADULT_MALE'], inplace=True)
df['DISP_ADULT_FEMALE'].replace('', np.nan, inplace=True)
df.dropna(subset=['DISP_ADULT_FEMALE'], inplace=True)
df['DISP_CHILDREN_U18'].replace('', np.nan, inplace=True)
df.dropna(subset=['DISP_CHILDREN_U18'], inplace=True)

In [ ]:
df.isnull().any().any()

False

In [ ]:
df['DISP_MONTH'] = pd.DatetimeIndex(df['DISP_DATE']).month

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df.ORIG_PROV_NAME  = le.fit_transform(df.ORIG_PROV_NAME)
df.ORIG_DIST_NAME = le.fit_transform(df.ORIG_DIST_NAME)
df.DISP_PROV_NAME = le.fit_transform(df.DISP_PROV_NAME)
df.DISP_DIST_NAME = le.fit_transform(df.DISP_DIST_NAME)

In [ ]:
x = df.drop(['DISP_IND', 'DISP_DATE'], axis = 1)

In [ ]:
y = df.DISP_IND

In [ ]:
x.shape

(62, 13)

In [ ]:
y.shape

(62,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print("Training Accuracy :", model.score(X_train, y_train))
print("Testing Accuracy :", model.score(X_test, y_test))

Training Accuracy : 0.6938775510204082
Testing Accuracy : 0.07692307692307693

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
model1 = LinearRegression()
model1.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = model1.predict(X_test)

In [ ]:
print("Training Accuracy :", model1.score(X_train, y_train))
print("Testing Accuracy :", model1.score(X_test, y_test))

Training Accuracy : 0.9999288357141579
Testing Accuracy : 0.9997943174586676

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
model3 = DecisionTreeRegressor(max_depth=6)
model3.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=6)

In [ ]:
y_pred = model3.predict(X_test)

In [ ]:
print("Training Accuracy :", model3.score(X_train, y_train))
print("Testing Accuracy :", model3.score(X_test, y_test))

Training Accuracy : 0.9999886326685674
Testing Accuracy : 0.24799321991172563

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
model4 = RandomForestRegressor(n_estimators = 100, random_state = 0)
model4.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [ ]:
y_pred = model4.predict(X_test)

In [ ]:
print("Training Accuracy :", model4.score(X_train, y_train))
print("Testing Accuracy :", model4.score(X_test, y_test))

Training Accuracy : 0.9862469687748446
Testing Accuracy : 0.9241933069052104